.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e3a8a; /* Dark Blue */
  padding: 15px 40px;
  color: white;
  font-family: Arial, sans-serif;
}

/* Logo */
.navbar-logo a {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}

/* Center Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #ffdd57; /* Yellow hover */
}

.active {
  border-bottom: 2px solid #ffdd57;
  padding-bottom: 2px;
}

/* Right Buttons */
.navbar-buttons {
  display: flex;
  gap: 15px;
}

.login-btn {
  background: transparent;
  border: 2px solid white;
  padding: 8px 18px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: white;
  color: #1e3a8a;
}

.signup-btn {
  background: #ffdd57; /* Bright Yellow */
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  color: #1e3a8a;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background: #facc15; /* darker yellow */
}
.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo-icon {
  margin-right: 10px;
  font-size: 1.6rem;
  color: #ffdd57; /* Yellow highlight */
}
